header {
    background-color: #FCD757;
    align-content: center;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#headerContent{
    text-align: center
    
}

.backgroundRed{
    background-color: red;
}

table,th,td {
    border: 2px solid black;
}

#belowHeader {
    background-color: #EEFC57;
}

#totalMonthly {
    text-align: right
}